footer {
    color: white;
    padding: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto Serif', sans-serif;
    margin-top: 240px;
}

footer h4 {
    color: #FBD784;
}

.footer-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.left-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-footer img {
    width: 70px;
}

.left-footer p {
    width: 60%;
    line-height: 35px;
}

.middle-footer div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.right-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-footer ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media(max-width: 1000px) {
    .footer-container {
        flex-direction: column;
        gap: 80px;
    }
}