* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0B1D26;
  color: #FFFFFF;
  overflow-x: hidden;
  font-size: 20px;
}

ul li {
  color: white;
}

a {
  color: white;
}

h1 {
  font-family: 'Roboto Serif', sans-serif;
  font-size: 800;
  line-height: 70px;
}